@font-face {
    font-family: "ks-configurator-icons";
    src: url("fonts/ks-configurator-icons.woff") format("woff"),
         url("fonts/ks-configurator-icons.ttf") format("truetype"),
         url("fonts/ks-configurator-icons.svg#ks-configurator-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.ksfont-arrow-left::before { content: "\e001"; }
.ksfont-arrow-right::before { content: "\e002"; }
.ksfont-arrow-up::before { content: "\e00f"; }
.ksfont-arrow-down::before { content: "\e000"; }
.ksfont-angle-dbl-left::before { content: "\e0fa"; }
.ksfont-angle-dbl-right::before { content: "\e0f9"; }
.ksfont-reset::before { content: "\e008"; }
.ksfont-save-configuration::before { content: "\e0ff"; }
.ksfont-zoom-in::before { content: "\e0fe"; }
.ksfont-zoom-out::before { content: "\e0fd"; }
.ksfont-zoom-to-fit::before { content: "\e0fb"; }
.ksfont-zoom-to-100::before { content: "\e0fc"; }

:root {
    --color-panel-background: rgba(50,50,50,0.25);
    --color-panel-border: rgba(85,85,85,1);
    --color-title-text: rgba(255,255,255,1);
    --color-title-background: rgba(80,80,80,0.3);
    --color-title-text-selected: rgba(255,255,255,1);
    --color-title-background-selected: rgba(0,153,255,1);
    --color-title-text-hover: rgba(255,255,255,1);
    --color-title-background-hover: rgba(0,102,255,1);
    --color-thumbnail-text: rgba(90,90,90,1);
    --color-thumbnail-background: rgba(255,255,255,0);
    --color-thumbnail-border: rgba(255,255,255,0);
    --color-thumbnail-text-selected: rgba(90,90,90,1);
    --color-thumbnail-background-selected: rgba(255,255,255,0.1);
    --color-thumbnail-border-selected: rgba(255,255,255,0);
    --color-thumbnail-text-hover: rgba(90,90,90,1);
    --color-thumbnail-background-hover: rgba(255,255,255,0.1);
    --color-thumbnail-border-hover: rgba(0,153,255,1);
    --color-window-background: rgba(97,97,97,1);
    --size-titles-font: 11;
    --size-thumbnail-font: 9;
}

html, body {
	width:100%;
	background:transparent !important;
	overflow:auto; 
	height:100% !important; 	/* for popup iframe */	
}

	
html, body, #main, .mainimg, #two, #webconfig-col, #webconfig-row { 
-ms-touch-action: auto;
touch-action: auto; 
pointer-events: auto;
}

/* .mainimg { 
max-height: 100%;
    max-width: 100%;;
}
 */
/* start from style.css */	

body {
  margin: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .wc-col-md-4, .col-md-5, .col-md-6, .col-md-6-left, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;

}

.center-stuff3 {
display:flex !important; 
align-items:center; 
justify-content: center !important; 
}

/* end from style.css */	

#webconfig-col {
height:100% !important;	/* for popup iframe */	
}

#webconfig-row {
height:100% !important;	/* for popup iframe */	
margin:0;
}

.height-ls-pt {
height:100%;	
}

@media screen and (orientation:portrait) {
.height-ls-pt {
height:auto;	
}
}
@media screen and (orientation:landscape) {  
.converse-special {
border:none;
}}



@media screen and (orientation:landscape) {  
.converse-special {
height:100% !important;
}
}		

#webconfig-row-process, .webconfig-row-process {
height:auto !important;
}

@media screen and (orientation:landscape) {
#webconfig-row-process, .webconfig-row-process {
height:100% !important;
}
}

@media screen and (orientation:landscape) {  
.converse-special {
height:100% !important;
}
}	

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}


		

#one {
padding:0; 
display: flex !important; 
align-items: center !important; 
justify-content: center !important;
margin-right:auto;	
margin-left:auto;		
}

@media screen and (orientation:landscape) and (min-width:767px) {
#one{
text-align:left !important;
align-items:flex-start !important;
justify-content: center !important;	
padding-top:45px;
padding-left:45px;
}
}

#one > *:first-child  {
width:100%;		
}

/* @media and (orientation:landscape) {
#one {
align-items: center !important; 
}
} */

#two{
padding:0;
margin-right:auto;	
margin-left:auto;	
}

.text-align-by-size {
text-align:left;
align-items:flex-start !important;	
/* align-content: left !important; */
}

@media screen and (orientation:landscape) and (max-width:767px) ,  screen and (orientation:portrait){
.text-align-by-size {
text-align:center !important;
align-items:center !important;	
align-content: center !important;
}
}

/* @media (max-width:500px) {
.flowheadertextbox {
	text-align:center;
justify-content:center;	
}
} */

@media (max-width:500px) {
.flowheadertext {
	width:100%;												
}
}

/* .col-padding {
padding-top:1rem; 
padding-bottom:1rem;	
}
@media (min-width:992px) {
.col-padding {
padding-top:40px; 
padding-bottom:40px;	
}
} */

@media screen and (orientation:landscape) {
.container-height-by-orientation {
height:100vh;	
}
}

@media screen and (orientation:portrait) {
.container-height-by-orientation {
height:auto;	
}
}

#main {
	height:100%;
	width:auto	;
    display: flex;
    align-items: center;
    justify-content: center;
	/* background-color:green;	 */
}

.mainimg {
/* background-color:red; */
	display:flex;
	max-width:100%;
	max-height:100vh;
	/* max-height:600px;  */
	width:auto;	
/* 	height:100%; width:auto; */
height:100%;
width:100%;
}

.panelarea {
    position: relative;
	top:0%; /**/
	left:0%; /**/
/* 	padding-left:5%; */
/* 	padding: 0 5%; */
    display: flex;			/* important */
	height:20%;
    background-color:transparent;
    --flowwidget-first-size: 50;
    /* This is set to "100 - flowwidget-first-size". It looks like Firefox doesn't like calc() in flex: values (observed in version 56) */
    --flowwidget-second-size: 50;
	
}
/* @media screen and (orientation:landscape) {
.panelarea {
padding-left: 4rem;	
}
} */

.panelarea.layouthorizontal {
    left: 0;
    top: 0;
	/* bottom: 0; */	
    height: calc(var(--touch-ui-height) * 1%);
/*     width: calc(100% - 40px); */    
width: 100%;
    flex-direction: row;
}

/* .panelarea.layoutvertical {
    top: 0;
    right: 40px;
    height: 100%;
    width: calc(var(--touch-ui-height) * 1%);
    flex-direction: column;
}
 */

.movablecursor {
    cursor: move;
}

.toolbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: var(--color-panel-background);
}

.toolbarbutton {
    font-family: "ks-configurator-icons";
    font-size: 20pt;
    user-select: none;
    -webkit-user-select: none;
    padding-bottom: 10px;
    color: #8A8A8A;
}
.toolbarbutton:hover {
    color: #73B0F0;
}
.toolbarbutton.selected {
    color: #0092FF;
}


.panelarea > .flowwidget:first-child {
    flex: var(--flowwidget-first-size) var(--flowwidget-first-size) 0;
}
.panelarea > .flowwidget:not(:first-child) {
    flex: var(--flowwidget-second-size) var(--flowwidget-second-size) 0;
}

.flowwidgetbody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 40px;					/* sets thumbnails sizes */
    overflow: auto;
    border: none;
    background: transparent;
    color: white;
    font-size: calc(var(--size-thumbnail-font) * 1pt);
    --thumbnail-size-percentage: 50%;
    --current-thumbnail-width: 128px;
    --current-thumbnail-height: 128px;
}
@media (max-width:991px) {
.flowwidgetbody {

    height: 40px;					/* sets thumbnails sizes */
}
}

@media (max-width:767px) {
.flowwidgetbody {

    height: 35px;					/* sets thumbnails sizes */
}
}

.flowwidgetbody-big {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;					/* sets thumbnails sizes */
    overflow: auto;
    border: none;
    background: transparent;
    color: white;
    font-size: calc(var(--size-thumbnail-font) * 1pt);
    --thumbnail-size-percentage: 50%;
    --current-thumbnail-width: 128px;
    --current-thumbnail-height: 128px;
}

.flexaligncontentworkaround .flowselectionbody::before {
    content: "";
    flex: 0 0 100%;
    width: 0;
}

.flowselectionbody > * {
    flex: 0 0 var(--thumbnail-size-percentage);
    min-height: 0;
}
.flowaccordiongroup.selected > .flowaccordiongroupbody > * {
    width: var(--thumbnail-size-percentage);
    flex: 0 0 auto;
    min-height: 0;
}

.flowthumbnailitem {
    box-sizing: border-box;
    padding: 3px;
}

.flowthumbnailitem > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
    background: var(--color-thumbnail-background);
    border-color: var(--color-thumbnail-border);
    color: var(--color-thumbnail-text);
    box-sizing: border-box;
    min-width: 0;
}
.flowselectionbody.listlayout .flowthumbnailitem > div {
    flex-direction: row;
}
.flowthumbnailitem > div > * {
    min-height: 0;
}
.flowselectionbody > .flowthumbnailitem > div > :first-child {
    flex: 1 1 0;
    width: var(--current-thumbnail-width);
}
.flowselectionbody > .flowthumbnailitem > div > img {
    object-fit: contain;
}
.flowselectionbody.listlayout > .flowthumbnailitem > div > :first-child {
    flex: 0 0 auto;
    height: 100%;
    width: auto;
}
.flowselectionbody.listlayout > .flowthumbnailitem > div > svg {
    max-width: none;
    max-height: 50px;
}
.flowselectionbody > .flowthumbnailitem > div > span {
    max-width: var(--current-thumbnail-width);
}
.flowselectionbody.listlayout > .flowthumbnailitem > div > span {
    width: 12em;
    max-width: none;
    padding-left: 5px;
}
.flowaccordiongroupbody > .flowthumbnailitem > div > :first-child {
    width: 100%;
}
.flowaccordiongroupbody > .flowthumbnailitem > div > img {
    flex: 0 0 auto;
}
.flowaccordiongroupbody > .flowthumbnailitem > div > span {
    max-width: 100%;
}
.flowthumbnailitem > div > span {
    flex: 0 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 2px;
}
.flowthumbnailitem > div > svg {
    max-width: 50px;
}
.flowaccordiongroupbody > .flowthumbnailitem > div > svg {
    height: var(--current-thumbnail-height);
}
.flowthumbnailitem > div > svg path {
    fill: var(--color-thumbnail-text);
}

.hidethumbnailtext .flowthumbnailitem > div > span {
    display: none;
}

.flowthumbnailitem > div:hover {
    background-color: transparent;
    border-color: var(--color-thumbnail-border-hover);
    color: var(--color-thumbnail-text-hover);
}
.flowthumbnailitem > div.selected, .flowthumbnailitem > div.selected:hover {
    background-color: transparent;
    border-color: var(--color-thumbnail-border-selected);
    color: var(--color-thumbnail-text-selected);
}

.hidden {
    display: none;
}

.nodisplay {
    display: none;
}

.flowselection {
    width: 100%;
    height: 100%;
    position: relative;
}

.flowselectionheaderbox {
    position: relative;
    /* bottom: 100%; */
/* 	bottom: -20px; */
/*     font-size: calc(var(--size-titles-font) * 1pt); */
font-size:10px;
/* 	display:none;	 */																/* hides textbox */
}

.flowselectionheaderbox > div {
    display: inline-block;
    vertical-align: bottom;
	
}

.flowheadertextbox {
	width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0.5em;
/*     white-space: nowrap; */												/* disabling breaks lines */
/*     color: var(--color-title-text); */
    color: #808080;
/*     background-color: var(--color-title-background); */
    --headertext-title: "Title";
    --headertext-value: "Current Value";
	 justify-content:center;
	 text-transform:uppercase;
/* 	display:none;	 */															/* hides menu options */
}

@media screen and (orientation:landscape) and (min-width:767px) {
.flowheadertextbox {
	 justify-content:left;
align-items: flex-start;
    text-align: left;
}
}	

.flowheadertextbox:hover {
    color: var(--color-title-text-hover);
/*     background-color: var(--color-title-background-hover); */
    background-color: #303030;
}
.flowselectionheaderscrollbox {
    border-left: 0px solid var(--color-panel-border);
	width:100%;
}
.flowselectionheaderscrollbox > div {
    padding: 0.5em;
    display: inline-block;
    vertical-align: bottom;
}

.flowheadertextbox.selected, .flowaccordiongroup.selected > .flowheadertextbox, .flowselectionheaderscrollbox > div {
/*     color: var(--color-title-text-selected); */
/*     color: red; */
    background-color:transparent;
	justify-content:center;
	text-align:center;
	
}


/* hides already chosen option */

.multioptions div.flowheadertextbox.selected {
display:none;	
}

@media screen and (orientation:landscape) and (min-width:768px){
.flowheadertextbox.selected, .flowaccordiongroup.selected > .flowheadertextbox, .flowselectionheaderscrollbox > div {

	justify-content:flex-start;
	text-align:left;
}
}	

/* .flowheadertextbox.selected:hover,  */.flowaccordiongroup.selected > .flowheadertextbox:hover, .flowselectionheaderscrollbox > div:hover {
    color: var(--color-title-text-hover);
    background: rgba(255,255,255,0.1);
}

.flowheadertext {

    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}
.flowheadertext::before {
    content: var(--headertext-title);
}
.flowheadertext::after {
    content: var(--headertext-value);
    font-weight: normal;
/* 	 color:#fff */
}

.flowheadermarker {
    flex: 0 0 auto;
    font-family: "ks-configurator-icons";
    padding-left: 0.3em;
}

.flowselectionheaderscroller {
    user-select: none;
    -webkit-user-select: none;
}
.flowselectionheaderscroller > span {
    font-family: "ks-configurator-icons";
    vertical-align: middle;
    line-height: 1px;
}

.flowselection .flowselectionheadermenu.hidden + .flowheadertextbox .flowheadermarker.ksfont-arrow-up {
    display: none;
}
.flowselection .flowselectionheadermenu:not(.hidden) + .flowheadertextbox .flowheadermarker.ksfont-arrow-left {
    display: none;
}
.flowselection .flowselectionheadermenu:not(.multioptions) + .flowheadertextbox .flowheadermarker {
    display: none;
}

.flowaccordion {
    min-height: 0;
    display: flex;
    flex-direction: column;
}
.flowaccordiongroup {
    flex: 0 0 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
}
.flowaccordiongroup.selected {
    flex: 1 1 auto;
}
.flowaccordiongroup > .flowaccordionheader {
    flex: 0 0 auto;
    font-size: calc(var(--size-titles-font) * 1pt);
}
.flowaccordiongroup > .flowaccordiongroupbody {
    flex: 0 1 auto;
}

.flowaccordiongroup > .flowaccordiongroupbody {
    display: none;
}

.flowaccordiongroup.selected > .flowaccordiongroupbody {
    display: flex;
}

.flowaccordiongroup.selected .flowheadermarker.ksfont-arrow-left {
    display: none;
}
.flowaccordiongroup:not(.selected) .flowheadermarker.ksfont-arrow-down {
    display: none;
}
.flowaccordiongroup:only-child .flowaccordionheader .flowheadermarker {
    display: none;
}

.flowwidgetdraghandle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
	display:none;													/* hides handle */
}

.layouthorizontal .flowwidgetdraghandle {
    flex-direction: column;
    cursor: col-resize;
}
.layoutvertical .flowwidgetdraghandle {
    flex-direction: row;
    cursor: row-resize;
}

.flowwidgetdraghandledot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #8A8A8A;
}
.layouthorizontal .flowwidgetdraghandledot {
    margin: 2px 1px;
}
.layoutvertical .flowwidgetdraghandledot {
    margin: 1px 2px;
}

.flowwidgetdraghandle:hover > .flowwidgetdraghandledot {
    background-color: #73B0F0;
}

  h1, h2, h3, h4, h5 {
  color: #000;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding:0.25em;	
}

h3 {
font-size: 20px;	
}

/* @media screen and (orientation:landscape) {
h3 {
font-size: 20px;	
}	
}	
 */
.section-title {
  text-transform: uppercase;
  font-weight: 300;
}

.section-title strong {
  font-weight: 700;
}
.divider {
  width: 70px;
  height: 6px;
  background: #000;
  display: inline-block;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.divider-normal-white {
  width: 70px;
  height: 6px;
  background: #ffffff;
  display: inline-block;
  position: relative;
}


.header {
  font-size: 1.5rem;
  letter-spacing: .1em;
  font-weight: bold; 
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .header {
  font-size: 10px;
  text-transform: uppercase; 
  float:left;
  }
}
@media (min-width: 768px) {
.header {
  font-size: 12px;
  letter-spacing: .1em;
  font-weight: bold;
  text-transform: uppercase;
}
}
@media (min-width: 1199.98px) {
.header {
  font-size: 12px;
  letter-spacing: .1em;
  font-weight: bold;
  text-transform: uppercase;
}
}

/* -----------------------------------------------------------------------------------------------------		style.css ------------------------------------------------------------------------*/

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-full {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  margin:0;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100vh;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}

.order-0 {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -webkit-box-ordinal-group: 12;
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  order: 12;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media screen and (max-width: 575px) and (orientation:landscape) {

  .col-xs-hidden {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0;
    flex: 0 0 0;
    width: 0;
    max-width: 0;
	padding:0 !important;
	display:none;
  }		
}
@media screen and (max-width: 575px) {

/*   .col-xs-hidden {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0;
    flex: 0 0 0;
    width: 0;
    max-width: 0;
	padding:0 !important;
	display:none;
  }	 */	
	
  .col-xs {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xs-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
 
  .col-xs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
 /* @media (max-width: 575px) and (orientation: landscape) {
  .col-xs-6-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}  */ 
  
  .col-xs-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
   
  .col-xs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	padding-right: 0px;
    padding-left: 0px;
  }
 
  
  .order-xs-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xs-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-xs-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-xs-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xs-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xs-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xs-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xs-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xs-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xs-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xs-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xs-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xs-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xs-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xs-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xs-0 {
    margin-left: 0;
  }
  .offset-xs-1 {
    margin-left: 8.33333%;
  }
  .offset-xs-2 {
    margin-left: 16.66667%;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
  .offset-xs-4 {
    margin-left: 33.33333%;
  }
  .offset-xs-5 {
    margin-left: 41.66667%;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
  .offset-xs-7 {
    margin-left: 58.33333%;
  }
  .offset-xs-8 {
    margin-left: 66.66667%;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
  .offset-xs-10 {
    margin-left: 83.33333%;
  }
  .offset-xs-11 {
    margin-left: 91.66667%;
  }
}

@media screen and (max-width:575px) and (orientation:portrait) { 

  .row-xs {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-height: 100%;
    height: 100%;
	max-width: 100% !important;
  }
  .row-xs-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 auto 0;
    flex: 0 auto 0;
    height: auto;
    max-height: none;
    height: none;
	max-width: 100% !important;
  }
  .row-xs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 8.33333%;
    height: 8.33333%;
	max-width: 100% !important;
  }
  .row-xs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 16.66667%;
    height: 16.66667%;
	max-width: 100% !important;
  }
  .row-xs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 25%;
    height: 25%;
	max-width: 100% !important;
  }
  .row-xs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 33.33333%;
    height: 33.33333%;
	max-width: 100% !important;
  }
  .row-xs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 41.66667%;
    height: 41.66667%;
	max-width: 100% !important;
  }
  .row-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 50%;
    height: 50%;
	max-width: 100% !important;
  }
  .row-xs-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 58.33333%;
	max-width: 100% !important;
  }  
  .row-xs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 66.66667%;
    height: 66.66667%;
	max-width: 100% !important;
  }
  .row-xs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 75%;
    height: 75%;
	max-width: 100% !important;
  }
  .row-xs-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 83.33333%;
    height: 83.33333%;
  }
  .row-xs-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 91.66667%;
    height: 91.66667%;
	max-width: 100% !important;
  }
  .row-xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 100%;
    height: 100%;
	padding-right: 0px;
    padding-left: 0px;
	max-width: 100% !important;
  } 
}

@media (min-width: 576px) {
	
  .col-sm-hidden {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0;
    flex: 0 0 0;
    width: 0;
    max-width: 0;
	padding:0 !important;
  }	
	
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

 
  .order-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-sm-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-sm-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}



@media screen and (min-width: 576px) and (orientation:portrait) {  
  .row-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-height: 100%;
	max-width: 100% !important;	
  }
  .row-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 auto 0;
    flex: 0 auto 0;
    height: auto;
    max-height: none;
	max-width: 100% !important;	
  }
  .row-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 8.33333%;
	max-width: 100% !important;	
  }
  .row-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 16.66667%;
	max-width: 100% !important;	
  }
  .row-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 25%;
	max-width: 100% !important;	
  }
  .row-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 33.33333%;
	max-width: 100% !important;
  }
  .row-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 41.66667%;
	max-width: 100% !important;	
  }
  .row-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 50%;
	max-width: 100% !important;	
  }
  .row-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 58.33333%;
	max-width: 100% !important;	
  }  
  .row-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 66.66667%;
	max-width: 100% !important;
  }
  .row-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 75%;
	max-width: 100% !important;	
  }
  .row-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 83.33333%;
	max-width: 100% !important;	
  }
  .row-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 91.66667%;
	max-width: 100% !important;	
  }
  .row-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 100%;
	padding-right: 0px;
    padding-left: 0px;
	max-width: 100% !important;	
  }
}  

@media (min-width: 768px) {
	
  .col-md-hidden {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0;
    flex: 0 0 0;
/*     width: 0; */
    max-width: 0;
	padding:0 !important;
/* 	display:none; */
  }		
	
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
	padding:0;
  }
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;

  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
    .col-md-6-left {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-md-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}

@media screen and (min-width: 768px) and (orientation:portrait) {   

  .row-md-portrait {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-height: 100%;
  }
  .row-md-auto-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: auto;
    max-height: none;
	max-width: 100% !important;
  }
  .row-md-1-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 8.33333%;
    max-height: 8.33333%;
	max-width: 100% !important;	
  }
  .row-md-2-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 16.66667%;
    max-height: 16.66667%;
	max-width: 100% !important;	
  }
  .row-md-3-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 25%;
    max-height: 25%;
	max-width: 100% !important;	
  }
  .row-md-4-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 33.33333%;
    max-height: 33.33333%;
	max-width: 100% !important;	
  }
  .row-md-5-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 41.66667%;
    max-height: 41.66667%;
	max-width: 100% !important;	
  }
  .row-md-6-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 50%;
    max-height: 50%;
	max-width: 100% !important;	
  }
  .row-md-7-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 58.33333%;
    max-height: 58.33333%;
	max-width: 100% !important;	
  }  
  .row-md-8-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 66.66667%;
    max-height: 66.66667%;
	max-width: 100% !important;	
  }
  .row-md-9-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 75%;
    max-height: 75%;
	max-width: 100% !important;	
  }
  .row-md-10-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 83.33333%;
    max-height: 83.33333%;
	max-width: 100% !important;	
  }
  .row-md-11-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 91.66667%;
    max-height: 91.66667%;
	max-width: 100% !important;	
  }
  .row-md-12-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 100%;
    max-height: 100%;
	padding-right: 0px;
    padding-left: 0px;
	max-width: 100% !important;	
  }    
} 

@media screen and (min-width: 768px) and (max-width: 991px) and (orientation:landscape) {   

  .row-md-landscape {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-height: 100%;
  }
  .row-md-auto-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 auto 0;
    flex: 0 auto 0;
    height: auto;
    max-height: none;
	max-width: 100% !important;
  }
  .row-md-1-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 8.33333%;
    max-height: 8.33333%;
	max-width: 100% !important;	
  }
  .row-md-2-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 16.66667%;
    max-height: 16.66667%;
	max-width: 100% !important;	
  }
  .row-md-3-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 25%;
    max-height: 25%;
	max-width: 100% !important;	
  }
  .row-md-4-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 33.33333%;
    max-height: 33.33333%;
	max-width: 100% !important;	
  }
  .row-md-5-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 41.66667%;
    max-height: 41.66667%;
	max-width: 100% !important;	
  }
  .row-md-6-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 50%;
    max-height: 50%;
	max-width: 100% !important;	
  }
  .row-md-7-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 58.33333%;
    max-height: 58.33333%;
	max-width: 100% !important;	
  }  
  .row-md-8-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 66.66667%;
    max-height: 66.66667%;
	max-width: 100% !important;	
  }
  .row-md-9-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 75%;
    max-height: 75%;
	max-width: 100% !important;	
  }
  .row-md-10-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 83.33333%;
    max-height: 83.33333%;
	max-width: 100% !important;	
  }
  .row-md-11-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 91.66667%;
    max-height: 91.66667%;
	max-width: 100% !important;	
  }
  .row-md-12-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 100%;
    max-height: 100%;
	padding-right: 0px;
    padding-left: 0px;
	max-width: 100% !important;	
  }   
}   

@media (min-width: 992px) {

  .col-lg-hidden {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0;
    flex: 0 0 0;
    width: 0;
    max-width: 0;
	padding:0 !important;
  }	
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
   .col-lg-8-full {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
	padding:0;
  } 
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .order-lg-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-lg-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-lg-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}

@media screen and (min-width: 992px) and (orientation:portrait) {  
  .row-lg-portrait {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-height: 100%;
	 max-width: 100% !important;	
  }
  .row-lg-auto-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: auto;
    max-height: none;
width: 100% !important;		
max-width: 100% !important;	 
  }
  .row-lg-1-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 8.33333%;
    max-height: 8.33333%;
	max-width: 100% !important;		
  }
  .row-lg-2-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 16.66667%;
    max-height: 16.66667%;
	max-width: 100% !important;		
  }
  .row-lg-3-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 25%;
    max-height: 25%;
	max-width: 100% !important;		
  }
  .row-lg-4-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 33.33333%;
    max-height: 33.33333%;
	max-width: 100% !important;		
  }
  .row-lg-5-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 41.66667%;
    max-height: 41.66667%;
	max-width: 100% !important;		
  }
  .row-lg-6-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 50%;
    max-height: 50%;
	max-width: 100% !important;		
  }
  .row-lg-7-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 58.33333%;
    max-height: 58.33333%;
	max-width: 100% !important;		
  }  
  .row-lg-8-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 66.66667%;
    max-height: 66.66667%;
	max-width: 100% !important;		
  }
  .row-lg-9-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 75%;
    max-height: 75%;
	max-width: 100% !important;		
  }
  .row-lg-10-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 83.33333%;
    max-height: 83.33333%;
	max-width: 100% !important;		
  }
  .row-lg-11-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 91.66667%;
    max-height: 91.66667%;
	max-width: 100% !important;		
  }
  .row-lg-12-portrait {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 100%;
    max-height: 100%;
	padding-right: 0px;
    padding-left: 0px;
	max-width: 100% !important;		
  }
} 

@media screen and (min-width: 992px) and (orientation:landscape) {  
  .row-lg-landscape {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-height: 100%;
  }
  .row-lg-auto-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 auto 0;
    flex: 0 auto 0;
    height: auto;
    max-height: none;
  }
  .row-lg-1-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 8.33333%;
	max-width: 100% !important;		
  }
  .row-lg-2-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 16.66667%;
	max-width: 100% !important;		
  }
  .row-lg-3-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 25%;
	max-width: 100% !important;		
  }
  .row-lg-4-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 33.33333%;
	max-width: 100% !important;		
  }
  .row-lg-5-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 41.66667%;
	max-width: 100% !important;		
  }
  .row-lg-6-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 50%;
	max-width: 100% !important;		
  }
  .row-lg-7-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 58.33333%;
	max-width: 100% !important;		
  }  
  .row-lg-8-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 66.66667%;
	max-width: 100% !important;		
  }
  .row-lg-9-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 75%;
	max-width: 100% !important;		
  }
  .row-lg-10-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 83.33333%;
	max-width: 100% !important;		
  }
  .row-lg-11-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 91.66667%;
	max-width: 100% !important;		
  }
  .row-lg-12-landscape {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-height: 100%;
	padding-right: 0px;
    padding-left: 0px;
	max-width: 100% !important;		
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  
  
  .order-xl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xl-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-xl-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}

@media screen and (orientation:portrait) { 
.portrait-col-12{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}




.flowselectionheaderbox > div {
    display: flex;
    vertical-align: bottom;
}

.flowselectionheaderscrollbox.text-align-by-size {
justify-content:center;	
}


.flowselectionheaderbox > div:first-of-type {
flex-wrap:wrap;
justify-content: center;	
}


/* desktop alt layout */
@media (orientation:landscape) {
	#one {
	justify-content: flex-start !important;	
	}


	.flowselectionheaderbox h3 {
	text-align:left !important;	
	}

	.flowwidgetbody.flowselectionbody {
	align-content: flex-start;
	}
	
	.flowselectionheaderscrollbox.text-align-by-size {
	 justify-content: left;
	}	
	.flowselectionheaderbox > div:first-of-type {
	flex-wrap:wrap;
	justify-content: left;	
	}	
	.flowheadertextbox.selected {
	padding-left:0;
	}	
}