.interior.container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.interior {
/*     border-bottom: 1px solid #ccc; */
    position: relative;
    z-index: 1;
}
.blogBox .item img {
    width: 100%;
    min-height: 188px;
}
.interior {
    position: relative;
    z-index: 1;
}
.blogBox .item img {
    width: 100%;
}
.interior.blog .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blogBox {
    box-sizing: border-box;
}
.blogBox .item:hover {
    cursor: pointer;
}
#loadMore, #loadMore2, #loadMore3, #loadMore4, #loadMore5, #loadMore6, #loadMore7, #loadMore8, #view-btn, .view-btn {
    padding-bottom: 5rem;
    padding-top: 5rem;
    text-align: center;
    width: 100%;
}

 #view-btn, .view-btn {
    padding-bottom: 44px; /* to avoid ios btm bar to pop up */
    padding-top: 30px;
    text-align: center;
    width: 100%;
}

@media (max-width:567px) {
 #view-btn, .view-btn {
    padding-bottom: 44px;
}
}
#loadMore2 a, #loadMore3 a, #loadMore4 a, #loadMore5 a, #loadMore6 a, #loadMore7 a, #loadMore8 a {
    background: #faa635;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
}#loadMore2 a:hover, #loadMore3 a:hover, #loadMore4 a:hover, #loadMore5 a:hover, #loadMore6 a:hover, #loadMore7 a:hover, #loadMore8 a:hover, #view-btn a:hover {
    background-color: #212121;
}

@media screen and (min-width: 991px) {
.blogBox .featured .blogTxt {
    max-width: 50%;
    width: 100%;
    padding: 50px;
    float: left;
    background: inherit;
    min-height: 378px;
}

}
@media screen and (min-width: 991px) {
.blogBox .featured h2 {
    font-size: 30px;
    font-style: italic;
}
}
@media screen and (min-width: 1200px) {
.blogBox .featured h2 {
    font-size: 42px;
}
}
@media screen and (min-width: 991px) {
.blogBox .featured .blogTxt {
    max-width: 50%;
    width: 100%;
    padding: 50px;
    float: left;
    background: inherit;
    min-height: 378px;
}
}
@media screen and (min-width: 991px) {
.blogBox .featured img {
    max-width: 50%;
    width: 100%;
    float: left;
    min-height: 378px;
}
}
@media screen and (min-width: 991px) {
.blogBox .featured .blogTxt {
    max-width: 50%;
    width: 100%;
    padding: 50px;
    float: left;
    background: inherit;
    min-height: 378px;
}
}
@media (min-width: 992px) {
.col-md-12 {
    width: 100%;
}
}
@media (min-width: 992px) {
.col-md-12 {
    width: 100%;
}
}
@media (min-width: 992px) {
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
}
@media (min-width: 768px) {
.col-sm-6 {
    width: 50%;
}
}